name: Generate Snake

on:
  schedule: 
    - cron: "0 */12 * * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Platane/snk@v3
        with:
          github_user_name: AnkitWaghinkar
          outputs: dist/github-contribution-grid-snake.svg
      - name: Push snake
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "Generated snake animation"
          add: "dist/*.svg"
